node {
    size: 20px;
    text-size: 20px;
    fill-color: #4c993f;
    z-index: 0;
}

node.I{
    fill-color: #ca9915;
}

node.i{
    fill-color: #991817;
}

edge {
    shape: line;
    fill-color: #222;
    arrow-size: 3px, 2px;
}

